
# Remove.bg API Key
REMOVE_BG_API_KEY="kjvosiyGPYXkYu22CiCB9vgV"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="dzwt63rsv"
CLOUDINARY_API_KEY="568411929316238"
CLOUDINARY_API_SECRET="MlqpBovGoVZkMqps_kUXZk0cLNI"
